<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<link rel="stylesheet" href="../../static/css/style.css"
	th:href="@{css/style.css}" />
<link rel="stylesheet" href="../../static/css/materia/bootstrap.min.css"
	th:href="@{css/materia/bootstrap.min.css}" />
<script th:src="@{webjars/jquery/jquery.min.js}"></script>
<script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>


</head>
<body>

	<!-- header -->
	<div th:replace="fragments/header::header"></div>

	<!-- main content -->
	<div layout:fragment="content"></div>

	<!-- footer -->
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>